.dancing-script-name {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
  }
  .arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .ml{
    margin-left: 4rem !important;
  }
.slide1{
    position:absolute;
    left:-700px;
    top:-30px;
    height: 500px !important;
}
.slide1-content{
    position: relative;
    top: -400px;
    left: 600px;
}
.slide2-content{
    position: relative;
    left: -400px;
    top: -100px;
}
.bestseller{
    position: absolute;
    right: 650px;
    top: 35px;
}
.slide3-content{
    position: relative;
    top: -100px;
}
.eiffel{
    margin-bottom: -250px !important;
    margin-right: -380px;
}
