.dancing-script-name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ml {
  margin-left: 4rem !important;
}

.slide1 {
  position: absolute;
  left: -700px;
  top: -30px;
  height: 500px !important;
}

.slide1-content {
  position: relative;
  top: -400px;
  left: 600px;
}

.slide2-content {
  position: relative;
  left: -400px;
  top: -100px;
}

.bestseller {
  position: absolute;
  right: 650px;
  top: 35px;
}

.slide3-content {
  position: relative;
  top: -100px;
}

.eiffel {
  margin-bottom: -250px !important;
  margin-right: -380px;
}

footer,
.bg {
  background-color: #282828;
  width: 100vw;
}
.bg{
  background-color: #e8dbca !important;
}
.cur-def{
  cursor: default;
}
.carousel-item.active h1,.book,.col{
  animation: animate-carousel-title 1s normal forwards;
}

@keyframes animate-carousel-title {
  0% {
    transform: translate(0, -2em);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.carousel-item.active p,
section img,#v-pills-tab,.name{
  animation: animate-carousel-title 1s normal forwards;
  animation-delay: 1s;
}

@keyframes animate-carousel-title {
  0% {
    transform: translate(-5em, 0em);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.carousel-item.active button,.auth,.card {
  animation: animate-carousel-btn-primary 1s normal forwards;
}

@keyframes animate-carousel-btn-primary {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (min-width:1000px) {
  .bg-img {
    background-image: url("../public/maintanance.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .author{
    margin-left: 80px;
  }
  .margin {
    margin-top: 150px;
  }

  .mt,
  .img {
    margin-top: 50px;
  }

  .img {
    margin-left: 200px;
  }

  .mt {
    margin-left: -10px;
    border-left: none !important;
  }

  .ml {
    margin-left: 30px;
  }
  .settings{
    left: -20px;
  }
  .card-img-overlay:hover .op{
    display: block;
    background-color: rgba(248, 241, 232,0.5);
    height: 470px;
    transform: scale(1.1);
  }
}

@media screen and (max-width:700px) {
  .img {
    height: 300px;
  }

  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .settings{
    left: 40px;
  }
  #search {
    position: relative;
    left: -250px;
    bottom: -50px;
  }
  .card{
    margin-left: 0px !important;
  }
  .author{
    margin-left: -20px !important;
  }
  .card-img-overlay:active .op{
    display: block;
    background-color: rgba(248, 241, 232,0.5);
    height: 470px;
    transform: scale(1.1);
  }
}

.link:hover,
.nav-item:hover,
.btn-color:hover,li:hover{
  transform: scale(1.1);
}
.linkactive{
  color:#D14031 !important;
}

.btn-color,.btn-color:hover {
  background-color: #D14031;
  border: 1px solid #D14031;
}

#email,
#password {
  border-top: none;
  border-left: none;
  border-right: none;
}

#email::placeholder,
#password::placeholder {
  text-align: center;
}

.sp {
  width: 100px !important;
  height: 100px !important;
  text-align: center;
  margin-top: 250px;
}

.settings {
  float: right;
  width: 50px !important;
  height: 50px !important;
  padding-top: 10px;
  position: relative;
}
#v-pills-tab{
  border:1px solid #e9e3e3;
}
hr{
  border-color: black;
}
li{
  list-style-type:none;
  color:black;
}
.col{
  float: right;
    font-size: 25px;
    border: 1px dotted black;
}
.card-body{
  border-top:none !important;
 border-color:  #e9e3e3;
}
.car_body{
  position: relative;
    top: -250px;
}
.card-height{
  height: 300px !important;
  border: 1px solid #e9e3e3 !important;
  border-left:none !important;
}
#dropdownMenuButton1{
  margin-top: -7px;
  font-size: 20px;
  border:none
}
.ml{
  color:#450303
}
.auth_img{
  border-radius:100px;
}
.header{
  position: sticky;
  top:0;
}
.drop.show {
  height:300px !important;
  overflow-y: scroll;
}
.background{
  border-bottom: 1px solid #e9e3e3;
}
.card-img-overlay .op{
  display: none;
}
